deepagents 
langgraph
langchain 
langchain-community
langchain-core
langchain-openai
langchainhub
langsmith
pydantic
python-dotenv
pandas
numpy
langchain-google-genai
langchain-docling
tavily-python
markdownify
streamlit
docling